<div class="cpc-client-list-item">
    <div class="row">
        <div class="col-xs-12">
            <h4>
                {{model.clientInfo.name}}
            </h4>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-earphone">&nbsp;</span>
            <h5>
                {{model.clientInfo.contactNum}}
            </h5>
        </div>
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-envelope">&nbsp;</span>
            <h5>
                {{model.clientInfo.email}}
            </h5>
        </div>
        <div class="col-sm-5">
            <span class="glyphicon glyphicon-list">&nbsp;</span>
            <h5>
                Policy No. {{model.clientInfo.policyNum}} | {{model.clientInfo.policyNum}}
            </h5>
        </div>
    </div>
</div>